body {
margin: 0;
padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  
}

#heaad {
    height: auto;
    width: 70px;
}

#head {
    height: auto;
    width: 40px;

}

#Principal {
    background-image: url('../Assets/Images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;    
    width: 100%;    

    display: flex;    
    flex-direction: column;    
    justify-content: flex-end;   


}

#content {
    padding-bottom: 98px;

}

#subPrincipal {
    padding-left: 80px;
}
 
h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}   

#Principal p{   
    width: 40%;
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;


}

#Principal button{
    width: 170px;
    padding: 15px 30px;
    color: white;
    background-color: rgb(255, 94, 0);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold

}

#first {
    background-color: rgb(255, 94, 0);
    display: flex;              
    align-items: center; 
    flex-direction: column;       
    padding: 5%;

}

.ft{
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3{ 
    font-size: 50px;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 40px;

}

.ft p{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 40px;
}

#UperCont{
    display: flex;
    align-content: center;

}

.containers img{
    width: 301px;

}

.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.desc{
    text-align: center; 
    width: 60%; 
    background-color: rgb(43, 43, 43); 
    margin: 0 20px; 
    width: 301px;
    padding-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.containers span{
    display: flex; 
    flex-direction: column; 
    background-color: rgb(43, 43, 43); 
    width: 285px; 
    text-align: center; 
    margin: 0; 
    height: 30px; 
    padding: 8px; 
    justify-content: flex-end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#second{
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;

}

.containers2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    background-color: rgb(255, 94, 0);
    padding: 40px 20px;
    border-radius: 8px;
}

#UperCont2{
    display: flex; 
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    gap: 30px;
}

#second h3{
    padding-top:  10px;
}

.stt{
    width: 5px;
    padding: 30px;
    font-weight: bold;
    
}

#UperCont2 p{
    width: 100%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    
}

.containers2 span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    text-align: center;
    width: 100%;

}

.containers2 button{
    width: 100%;
    padding: 15px;
    background-color: rgb(43, 43, 43);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255)
}

footer{
    background-color: rgb(255, 94, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

@media (max-width: 1279px){
    #UperCont{
        width: 100%;

    }

    .containers img{
        width: 80%;
    }

    .desc{
        width: 80%;
    }

    .containers span{
        width: 76%;
        padding: 2%;
    }

    h1{
       font-size: 500%;
    }

    h3{
        font-size: 250%;

    }
}

@media (max-width: 920px){

    #Principal p{
        width: 50%;
        font-size: 100%;

    }

    #UperCont{
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding-left:15px;
    justify-content: center;
    }

    .containers{
    margin-bottom: 50px;
    }

    .ft{
        text-align: center;
    }

    h3{
        width: 500px;
        margin-top: 30px;
        font-size: 50px;
    }
        
    .ft p{
        width: 200%;
        font-size: 20px;
    }

    h1{
        font-size: 70px;
    }

    #UperCont2{
        flex-wrap: wrap ;
    }

    #UperCont2 img{
        width: 130px; 
    }

    #UperCont2 span{
        width: 250px;
    }

    footer{
        font-size: 18px;
    }
    
}

@media (max-width: 768px){
    header{
        justify-content: space-between;
        align-items: center;
    }

    #Principal{
        background-image: center;
    }

    #UperCont{
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding-left:15px;
        justify-content: center;

    }

    .ft{
        text-align: center;
    }

    .containers{
        margin-bottom: 50px;
    }

    h3{
        width: 200%;
        margin-top: 30px;
    }

    .ft p{
        width: 80%;
    }

    h1{
        font-size: 70px;
    }

    #Principal p{
        width: 70%;
    }

    #UperCont2{
        flex-wrap: wrap ;
    }

    #UperCont2 img{
        width: 100px; 
    }

    #UperCont2 span{
        width: 200px;

    }

    footer{
        font-size: 18px;
    }

}

@media (max-width: 480px){

    header{
        justify-content: space-between;
        align-items: center;
    }

    #Principal{
        background-position: center;
    }

    #subPrincipal{
        padding-left: 50px;
    }

    #Principal p{
        font-size: 90%;
        width: 60%;
    }

    h1{
        font-size: 290%;
        text-align: center;
        width: 100%;
        display: flex;
        align-content: flex-end;
    }

    #UperCont{
        display: flex;
        flex-direction: column;

    }

    .containers p{
        margin-bottom: 50px;
    }

    #UperCont2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ft{
        display: flex;
        align-items: center;
        text-align: center;
    }

    h3{
        font-size: 40px;
        width: 250%;
    }

    .ft p{
        width: 250%;
    }

    footer{
        font-size: 13px;
    }

}







